<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<!--<head th:replace="~{fragmentos :: head('Home')}"></head>-->
<body>
<!--<header th:replace="~{fragmentos :: header('Sistema Registros Escolares')}">-->
<!--</header>-->
<header>
  <div class="container mt3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a aria-current="page" class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teachers/">Teachers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Students</a>
      </li>
    </ul>
  </div>
  <div class="container mt3">
    <div class="row">
      <div class="col-12">
        <h1>Registers System School</h1>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container mt-4">
    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action"
              th:onclick="'window.location.href=\'/professores\''">Professores</button>
      <button type="button" class="list-group-item list-group-item-action">Alunos</button>
    </div>
  </div>
</main>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script crossorigin="anonymous" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>